Repository elvees/mcom03-buildroot-external: changes, and which Zuul jobs are due for each by the changed paths.
All: mcom03-linux66-buildroot-build, mcom03-cv-buildroot-build, mcom03-nn-dev-buildroot-build, mcom03-qt-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03fc-priv-buildroot-build, mcom03-sbl-build

.zuul.yaml:

---
- project:
    check:
      jobs:
        - mcom03-linux66-buildroot-build:
            irrelevant-files:
              - .pre-commit-config.yaml$
              - fragments/cv.fragment$
              - fragments/hpc.fragment
              - fragments/nn-dev.fragment
              - fragments/private.fragment$
              - package/mcom03-tl-.*
              - README.rst$
        - mcom03-cv-buildroot-build:
            files:
              - fragments/cv.fragment$
        - mcom03-nn-dev-buildroot-build:
            files:
              - fragments/nn-dev.fragment
        - mcom03-qt-buildroot-build:
            files:
              - fragments/qt.fragment
        - mcom03-linux66-priv-buildroot-build:
            files:
              - .*-felix.*
              - .*-rogue-.*
              - .*-vpu-.*
              - configs/mcom03_defconfig$
              - fragments/linux66.fragment$
              - fragments/private.fragment$
        - mcom03fc-priv-buildroot-build:
            files:
              - .*mcom03fc.*
        - pre-commit
        - mcom03-sbl-build:
            files:
              - board/elvees/ddrinit-dtb-map.txt$

    # Feel free to edit jobs below
    experimental:
      jobs:
        - mcom03-cv-buildroot-build
        - mcom03-cv-analytics-tests:
            dependencies: mcom03-cv-buildroot-build

package/mcom03-linux-utils-python: Install dependencies optionally
  package/mcom03-linux-utils-python/Config.in
Due: mcom03-linux66-buildroot-build

package/mcom03-linux-utils-python: Don't install Luma
  package/mcom03-linux-utils-python/Config.in
Due: mcom03-linux66-buildroot-build

ci: Add mcom03fc-priv-buildroot-build job
  .zuul.yaml
Due: mcom03-linux66-buildroot-build

overlay: mcom03fc: Disable systemd-timesyncd
  configs/mcom03fc_defconfig
  overlay/elvees/mcom03fc/usr/lib/systemd/system-preset/60-systemd-timesyncd.preset
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

overlay: mcom03fc: Disable systemd-tmpfiles-clean
  overlay/elvees/mcom03fc/usr/lib/systemd/system-preset/90-systemd-tmpfiles.preset
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

overlay: mcom03fc: Disable systemd-pstore
  overlay/elvees/mcom03fc/usr/lib/systemd/system-preset/90-systemd-pstore.preset
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

overlay: mcom03fc: Disable fstrim
  overlay/elvees/mcom03fc/usr/lib/systemd/system-preset/90-fstrim.preset
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

mcom03fc_defconfig: Disable U-Boot tools
  configs/mcom03fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

mcom03fc_defconfig: Add mtdinfo mtd utility
  configs/mcom03fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

overlay: mcom03fc: Add 10-persistent-mtd.rules
  overlay/elvees/mcom03fc/etc/udev/rules.d/10-persistent-mtd.rules
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

mcom03fc_defconfig: Add post fakeroot script
  board/elvees/post-fakeroot.sh
  configs/mcom03fc_defconfig
  overlay/elvees/mcom03fc/usr/lib/systemd/system-preset/60-systemd-timesyncd.preset
  overlay/elvees/mcom03fc/usr/lib/systemd/system-preset/90-fstrim.preset
  overlay/elvees/mcom03fc/usr/lib/systemd/system-preset/90-systemd-pstore.preset
  overlay/elvees/mcom03fc/usr/lib/systemd/system-preset/90-systemd-tmpfiles.preset
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

mcom03fc_defconfig: Disable OpenSSH
  configs/mcom03fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

mcom03fc_defconfig: Mask systemd-network-generator
  configs/mcom03fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

mcom03fc_defconfig: Mask systemd-journal-flush
  configs/mcom03fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

mcom03fc_defconfig: Disable NetworkManager
  configs/mcom03fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

mcom03fc_defconfig: Mask systemd-fsck-root service
  configs/mcom03fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

overlay: mcom03fc: Configure journald
  overlay/elvees/mcom03fc/etc/systemd/journald.conf
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

overlay: common: extlinux: Fix cmdline param name
  overlay/elvees/common/usr/bin/extlinux-gen
Due: mcom03-linux66-buildroot-build

overlay: common: extlinux: Mount root as ext2 rw
  overlay/elvees/common/etc/fstab
  overlay/elvees/common/usr/bin/extlinux-gen
Due: mcom03-linux66-buildroot-build

overlay: mcom03fc: extlinux: Mount root as ext2 ro
  overlay/elvees/mcom03fc/usr/bin/extlinux-gen
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

Revert "overlay: common: extlinux: Mount root as ext2 rw"
  overlay/elvees/common/etc/fstab
  overlay/elvees/common/usr/bin/extlinux-gen
Due: mcom03-linux66-buildroot-build

Revert "overlay: mcom03fc: extlinux: Mount root as ext2 ro"
  overlay/elvees/mcom03fc/usr/bin/extlinux-gen
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

overlay: common: extlinux: Avoid remount by systemd
  overlay/elvees/common/etc/fstab
Due: mcom03-linux66-buildroot-build

mcom03fc_defconfig: Add test artifacts to target
  configs/mcom03fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

overlay: mcom03fc: extlinux: Mount root as ro filesystem
  overlay/elvees/mcom03fc/usr/bin/extlinux-gen
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

ddrinit-dtb-map: Support ELV-MC03-SMARC r3.0.0 @ ELV-SMARC-CB r3.3.0
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03-sbl-build

mcom03fc_defconfig: Add missing ddrinit defconfigs
  .pre-commit-config.yaml
  configs/mcom03fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

mcom03fc_defconfig: Enable scheduling utilities
  configs/mcom03fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

mcom03fc_defconfig: Enable host-uboot-tools
  configs/mcom03fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03fc-priv-buildroot-build

Add MCom-03R Buildroot build support
  .pre-commit-config.yaml
  .zuul.yaml
  Config.in
  board/elvees/mcom03-ddrinit-dtb-map.txt
  board/elvees/mcom03r-ddrinit-dtb-map.txt
  configs/mcom03r-fc_defconfig
  configs/mcom03r_defconfig
Due: mcom03-linux66-buildroot-build

ci: Add zuul jobs for MCom-03R Buildroot build
  .zuul.yaml
Due: mcom03-linux66-buildroot-build

mcom03r-fc_defconfig: Enable ethtool package
  configs/mcom03r-fc_defconfig
Due: mcom03-linux66-buildroot-build

private.fragment: Add elvees-glbench
  fragments/private.fragment
Due: mcom03-linux66-priv-buildroot-build

package/mcom03-tl-sbimg: Add support of non-signed SBIMG
  configs/mcom03_defconfig
  package/mcom03-tl-sbimg/Config.in
  package/mcom03-tl-sbimg/mcom03-tl-sbimg.mk
Due: mcom03-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build

package/mcom03-tl-sbimg: Refactor Makefile
  package/mcom03-tl-sbimg/Config.in
  package/mcom03-tl-sbimg/mcom03-tl-sbimg.mk
Due: none

package/mcom03-sbl: Make recovery to be optional
  package/mcom03-sbl/Config.in
  package/mcom03-sbl/mcom03-sbl.mk
Due: mcom03-linux66-buildroot-build

package/mcom03-tl-sbimg: Align images for all build types
  configs/mcom03r-fc_defconfig
  configs/mcom03r_defconfig
  package/mcom03-tl-sbimg/Config.in
Due: mcom03-linux66-buildroot-build

Add gate jobs for zuul
  .zuul.yaml
Due: mcom03-linux66-buildroot-build

mcom03r-fc_defconfig: Enable Python parallel test
  configs/mcom03r-fc_defconfig
Due: mcom03-linux66-buildroot-build

mcom03r-fc_defconfig: Enable DSP Elcore50 libraries
  configs/mcom03r-fc_defconfig
Due: mcom03-linux66-buildroot-build
