Repository elvees/mcom03-buildroot-external: changes, and which Zuul jobs are due for each by the changed paths.
All: mcom03-linux510-priv-buildroot-build, mcom03-weston-buildroot-build, mcom03-nn-dev-buildroot-build

ci: Remove mcom03-<board>-buildroot-build jobs
  .zuul.yaml
Due: none

cv.fragment: Enable videocontentanalysis
  fragments/cv.fragment
Due: mcom03-linux510-priv-buildroot-build

ci: Remove <board>.fragment's
  fragments/egwcb-smarc.fragment
  fragments/egwcb.fragment
  fragments/elvmc03cb.fragment
  fragments/elvmc03smarc-r2.2-elvsmarccb-r2.9.fragment
  fragments/elvq7cb.fragment
  fragments/elvsmarccb.fragment
  fragments/mcom03bub.fragment
  fragments/ngfwcb.fragment
  fragments/rockpi.fragment
  fragments/trustphone.fragment
  fragments/trustphone2.fragment
Due: none

overlay: elvees: Move out 10-persistent-mtd.rules
  overlay/elvees/etc/udev/rules.d/10-persistent-mtd.rules
Due: none

linux510.fragment: Add GRUB2 support
  fragments/linux510.fragment
Due: none

linux510.fragment: Enable tar2dev-uefi tool installation
  fragments/linux510.fragment
Due: none

mcom03_defconfig: Enable LT9611UXC firmware
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

mcom03: ddrinit-dtb-map: Add support for ELV-SMARC-CB r2.10
  board/elvees/ddrinit-dtb-map.txt
Due: none

mcom03: ddrinit-dtb-map: Add mapping for SKIF-MP v1.0
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

package/mcom03-sbl-tl: Add workaround to build local sources
  package/mcom03-sbl-tl/mcom03-sbl-tl.mk
Due: none

private.fragment: Enable GStreamer lenscontrol plugin
  fragments/private.fragment
Due: mcom03-linux510-priv-buildroot-build, mcom03-weston-buildroot-build

package/mcom03-tl-core: Add workaround to build local sources
  package/mcom03-tl-core/mcom03-tl-core.mk
Due: none

mcom03_defconfig: Enable elcore50 binutils for target
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Enable MCom-03 U-Boot utilities
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Enable ffprobe utility
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

Introduce BR2_ELVEES_BINARY_PACKAGES_SITE variable
  Config.in
  package/gst-felix/gst-felix.mk
  package/mcom03-felix/mcom03-felix.mk
  package/mcom03-sbl-tl/mcom03-sbl-tl.mk
  package/mcom03-tl-core/mcom03-tl-core.mk
  package/mcom03-vpu-libs/mcom03-vpu-libs.mk
Due: mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Enable gst-rtsp-multi-launch and gst-interpipe
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

Revert "private.fragment: Enable GStreamer lenscontrol plugin"
  fragments/private.fragment
Due: mcom03-linux510-priv-buildroot-build, mcom03-weston-buildroot-build

mcom03_defconfig: Build ddrinit and SBL for ELV-SMARC-CB 2.10.3
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

linux510.fragment: Enable GPU build
  fragments/linux510.fragment
Due: none

mcom03_defconfig: Enable G.711 support for GStreamer
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

package/mcom03-felix: Check Linux version only if package is enabled
  package/mcom03-felix/mcom03-felix.mk
Due: mcom03-linux510-priv-buildroot-build

mcom03-vpu-libs: Force build from source if srcdir is overrided
  package/mcom03-vpu-libs/mcom03-vpu-libs.mk
Due: mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Build ddrinit and SBL for ELV-CE-CB
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Build ddrinit and SBL for ELV-MC03-Q7 r2.1.1
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

cv.fragment: Enable gst1-shark
  fragments/cv.fragment
Due: mcom03-linux510-priv-buildroot-build

ci: Run mcom03-linux510-cv-buildroot-build on cv.fragment
  .zuul.yaml
Due: none

mcom03: ddrinit-dtb-map: Clarify ELV-Q7-CB revision
  board/elvees/ddrinit-dtb-map.txt
Due: none

mcom03: ddrinit-dtb-map: Clarify ELV-MC03-CB revision
  board/elvees/ddrinit-dtb-map.txt
Due: none

mcom03: ddrinit-dtb-map: Add support for ELV-SMARC-CB r3.1.0
  board/elvees/ddrinit-dtb-map.txt
Due: none

package/mcom03-tl-sbimg: Install TAR archives
  package/mcom03-tl-sbimg/mcom03-tl-sbimg.mk
Due: none

private.fragment: Enable GPU release build
  fragments/private.fragment
Due: mcom03-linux510-priv-buildroot-build, mcom03-weston-buildroot-build

package/mcom03-dmabuf-exporter: Add dependencies
  package/mcom03-dmabuf-exporter/mcom03-dmabuf-exporter.mk
Due: none

overlay: elvees: Update ALSA default configuration
  overlay/elvees/var/lib/alsa/asound.state
Due: none

package/mcom03-sbl-tl: Provide PATH to git folder
  package/mcom03-sbl-tl/mcom03-sbl-tl.mk
Due: none

board/elvees: Update Busybox config
  board/elvees/busybox.config
Due: none

board/elvees: Enable TAR autodetect in Busybox config
  board/elvees/busybox.config
Due: none

package/mcom03-tl-sbimg: Remove unsupported SBIMG configs
  package/mcom03-tl-sbimg/Config.in
Due: none

package/mcom03-sbl: Provide PATH to git folder
  package/mcom03-sbl/mcom03-sbl.mk
Due: none

package/mcom03-tl-core: Provide PATH to git folder
  package/mcom03-tl-core/mcom03-tl-core.mk
Due: none

Path conditions:
  mcom03-linux510-priv-buildroot-build: any of: .*-felix.*, .*-rogue-.*, .*-vpu-.*, configs/mcom03_defconfig, fragments/cv.fragment, fragments/private.fragment
  mcom03-weston-buildroot-build: any of: .*-rogue-.*, fragments/private.fragment, fragments/weston.fragment
  mcom03-nn-dev-buildroot-build: any of: fragments/nn-dev.fragment
