Repository elvees/mcom03-buildroot-external: changes, and which Zuul jobs are due for each by the changed paths.
All: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-cv-buildroot-build, mcom03-nn-dev-buildroot-build, mcom03-qt-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03r-fc-priv-buildroot-build, mcom03-sbl-build

mcom03r-fc_defconfig: Enable Elcore50 extra
  configs/mcom03r-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-fc-priv-buildroot-build

package/mcom03-vpu-modules: Add BR2_PACKAGE_MCOM03_VPU_MODULES_DEVFREQ_PARENT
  package/mcom03-vpu-modules/Config.in
  package/mcom03-vpu-modules/mcom03-vpu-modules.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build

package/mcom03-rogue-modules: Add BR2_PACKAGE_MCOM03_ROGUE_MODULES_DEVFREQ_PARENT
  package/mcom03-rogue-modules/Config.in
  package/mcom03-rogue-modules/mcom03-rogue-modules.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build

mcom03_defconfig: Enable mgdbserver package
  configs/mcom03_defconfig
  configs/mcom03r_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build

mcom03r-fc_defconfig: Enable glbench
  configs/mcom03r-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-fc-priv-buildroot-build

ci: Switch to using job building Qt with mcom03r_defconfig
  .zuul.yaml
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

Build sbl-xip for ELV-MC03-SMARC r3.0.0 on SMARC-COMMONCB r1.0
  board/elvees/mcom03r-ddrinit-dtb-map.txt
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-sbl-build

gst-felix: Archive GstFelixMeta library
  package/gst-felix/gst-felix.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build

configs: Enable GStreamer pngenc plugin
  configs/mcom03_defconfig
  configs/mcom03r-fc_defconfig
  configs/mcom03r_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03r-fc-priv-buildroot-build

fragments: Add fragment for frequencies research
  board/elvees/linux-research-freq.config
  fragments/research-freq.fragment
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

overlay: elvees: systemd: Remove mfbsp-i2s.conf
  overlay/elvees/common/usr/lib/systemd/system/alsa-restore.service.d/mfbsp-i2s.conf
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

package/gst-felix: Build from source if OVERRIDE_SRC is set
  package/gst-felix/gst-felix.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build

gcov.fragment: Add new fragment
  .zuul.yaml
  board/elvees/linux-gcov.config
  fragments/gcov.fragment
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

mcom03r_smarcr3-fc_defconfig: New defconfig
  .zuul.yaml
  board/elvees/mcom03r-smarcr3-fc-dtb-map.txt
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

ddrinit-dtb-map: Use the new defconfig names
  board/elvees/mcom03-ddrinit-dtb-map.txt
  board/elvees/mcom03r-ddrinit-dtb-map.txt
  configs/mcom03_defconfig
  configs/mcom03r-fc_defconfig
  configs/mcom03r_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03r-fc-priv-buildroot-build, mcom03-sbl-build

mcom03r_smarcr3-fc_defconfig: Disable unnecessary packages
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

configs: Enable mdio-tools and phytool packages
  configs/mcom03_defconfig
  configs/mcom03r_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build

mcom03r_smarcr3-fc_defconfig: Build Linux for MCom03R
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

mcom03r_smarcr3-fc_defconfig: Enable packages for testing
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

mcom03r_smarcr3-fc_defconfig: Enable evtest package
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

mcom03r_smarcr3-fc_defconfig: Enable GStreamer debugutils
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

mcom03r_smarcr3-fc_defconfig: Build Linux for MCom03R SMARC FC
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

configs: Enable linux-pam package
  configs/mcom03r-fc_defconfig
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-fc-priv-buildroot-build

package/mcom03-sbl: Change install directory
  package/mcom03-sbl/mcom03-sbl.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

package/mcom03-sbl: Add tl-sbimg to sbl
  Config.in
  configs/mcom03_defconfig
  configs/mcom03r-fc_defconfig
  configs/mcom03r_defconfig
  configs/mcom03r_smarcr3-fc_defconfig
  package/mcom03-sbl/Config.in
  package/mcom03-sbl/mcom03-sbl.mk
  package/mcom03-tl-sbimg/Config.in
  package/mcom03-tl-sbimg/mcom03-tl-sbimg.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03r-fc-priv-buildroot-build

package/mcom03-sbl: Add ability to choose version
  package/mcom03-sbl/Config.in
  package/mcom03-sbl/mcom03-sbl.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

Add fragment to disable WDT
  board/elvees/linux-nowdt.fragment
  board/elvees/uboot-nowdt.fragment
  fragments/nowdt.fragment
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

mcom03: ddrinit-dtb-map: Support Skif-MP v2.0 and Skif-BS v1.0
  board/elvees/mcom03-ddrinit-dtb-map.txt
  board/elvees/mcom03r-ddrinit-dtb-map.txt
  configs/mcom03_defconfig
  configs/mcom03r-fc_defconfig
  configs/mcom03r_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03r-fc-priv-buildroot-build, mcom03-sbl-build

mcom03r_smarcr3-fc_defconfig: Disable WDT
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

configs: Enable spidev_test package
  configs/mcom03r-fc_defconfig
  configs/mcom03r_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03r-fc-priv-buildroot-build

mcom03r-fc_defconfig: Enable videotestsrc GStreamer plugin
  configs/mcom03r-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-fc-priv-buildroot-build

overlay: mcom03rsmarcfc: extlinux-gen: Use default FDT with 4ch LVDS panel
  configs/mcom03r_smarcr3-fc_defconfig
  overlay/elvees/mcom03rsmarcfc/usr/bin/extlinux-gen
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

mcom03r_smarcr3-fc_defconfig: Enable MCom-03 U-Boot utilities
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

mcom03r-fc_defconfig: Enable kmssink and omx GStreamer plugins
  configs/mcom03r-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-fc-priv-buildroot-build

mcom03r_smarcr3-fc_defconfig: Build ddrinit for stress test
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

package/mcom03-baremetal-tools-arm64: New package
  Config.in
  package/mcom03-baremetal-tools-arm64/Config.in
  package/mcom03-baremetal-tools-arm64/mcom03-baremetal-tools-arm64.mk
  package/mcom03-baremetal-tools/Config.in
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

mcom03r_smarcr3-fc_defconfig: Enable mcom03-baremetal-tools
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

mcom03r-fc_defconfig: Enable mcom03-baremetal-tools
  configs/mcom03r-fc_defconfig
  configs/mcom03r_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03r-fc-priv-buildroot-build

mcom03r-ddrinit-dtb-map: Support K1892VM21YA IP_KU M1 r.1.1
  .zuul.yaml
  board/elvees/mcom03r-ddrinit-dtb-map.txt
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-sbl-build

mcom03-rogue-libs: add slash in path
  package/mcom03-rogue-libs/mcom03-rogue-libs.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build

Path conditions:
  mcom03-linux66-buildroot-build: unless all of: .pre-commit-config.yaml$, fragments/cv.fragment$, fragments/hpc.fragment, fragments/nn-dev.fragment, fragments/private.fragment$, package/mcom03-tl-.*, README.rst$
  mcom03r-linux66-buildroot-build: unless all of: .pre-commit-config.yaml$, fragments/cv.fragment$, fragments/hpc.fragment, fragments/nn-dev.fragment, fragments/private.fragment$, package/mcom03-tl-.*, README.rst$
  mcom03-cv-buildroot-build: any of: fragments/cv.fragment$
  mcom03-nn-dev-buildroot-build: any of: fragments/nn-dev.fragment
  mcom03-qt-buildroot-build: any of: fragments/qt.fragment
  mcom03-linux66-priv-buildroot-build: any of: .*-felix.*, .*-rogue-.*, .*-vpu-.*, configs/mcom03_defconfig$, fragments/linux66.fragment$, fragments/private.fragment$
  mcom03r-linux66-priv-buildroot-build: any of: .*-felix.*, .*-rogue-.*, .*-vpu-.*, configs/mcom03r_defconfig$, fragments/private.fragment$
  mcom03r-fc-priv-buildroot-build: any of: .*mcom03r-fc.*
  mcom03-sbl-build: any of: board/elvees/mcom03-ddrinit-dtb-map.txt$, board/elvees/mcom03r-ddrinit-dtb-map.txt$
