Repository elvees/mcom03-buildroot-external: changes, and which Zuul jobs are due for each by the changed paths.
All: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-cv-buildroot-build, mcom03-nn-dev-buildroot-build, mcom03r-linux66-qt-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03r-fc-priv-buildroot-build, mcom03r-smarc-fc-buildroot-build, mcom03-sbl-build, mcom03r-linux66-priv-coverage-buildroot-build

mcom03r: ddrinit-dtb-map: Add support for SALUTE-PM-ETT-SSMARC-r.2.0.0
  board/elvees/mcom03r-ddrinit-dtb-map.txt
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-sbl-build

mcom03r: ddrinit-dtb-map: Add support for ELV-MC03-CE r3.2.0
  board/elvees/mcom03r-ddrinit-dtb-map.txt
  configs/mcom03r_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03-sbl-build

mcom03r-fc_defconfig: Enable libaio
  configs/mcom03r-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-fc-priv-buildroot-build

mcom03r-fc_defconfig: Enable liburing
  configs/mcom03r-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-fc-priv-buildroot-build

mcom03r_smarcr3-fc_defconfig: Enable libaio
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-smarc-fc-buildroot-build

mcom03r_smarcr3-fc_defconfig: Enable liburing
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-smarc-fc-buildroot-build

extlinux-gen: Add earlycon to default boot options of fc build
  overlay/elvees/mcom03fc/usr/bin/extlinux-gen
  overlay/elvees/mcom03rsmarcfc/usr/bin/extlinux-gen
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

mcom03r: ddrinit-dtb-map: Add support for ELV-MC03-Q7 r3.3.0
  board/elvees/mcom03r-ddrinit-dtb-map.txt
  configs/mcom03r_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03-sbl-build

mcom03r-fc_defconfig: Use correct variable for fakeroot script arguments
  configs/mcom03r-fc_defconfig
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-fc-priv-buildroot-build, mcom03r-smarc-fc-buildroot-build

package/mcom03-sbl: Change GIT_DIR to REPO_DIR
  .zuul.yaml
  package/mcom03-sbl/mcom03-sbl.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

mcom03r: ddrinit-dtb-map: Add support for MCom-03R on MCom03-BuB
  board/elvees/mcom03r-ddrinit-dtb-map.txt
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-sbl-build

mcom03r_defconfig: Build ddrinit for MCom-03 BuB
  configs/mcom03r_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-linux66-priv-buildroot-build

zuul: Run mcom03r priv buildroot jobs for '*mcom03r*' files
  .zuul.yaml
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

Path conditions:
  mcom03-linux66-buildroot-build: unless all of: .pre-commit-config.yaml$, fragments/cv.fragment$, fragments/hpc.fragment, fragments/nn-dev.fragment, fragments/private.fragment$, package/mcom03-tl-.*, README.rst$
  mcom03r-linux66-buildroot-build: unless all of: .pre-commit-config.yaml$, fragments/cv.fragment$, fragments/hpc.fragment, fragments/nn-dev.fragment, fragments/private.fragment$, package/mcom03-tl-.*, README.rst$
  mcom03-cv-buildroot-build: any of: fragments/cv.fragment$
  mcom03-nn-dev-buildroot-build: any of: fragments/nn-dev.fragment
  mcom03r-linux66-qt-buildroot-build: any of: fragments/qt.fragment
  mcom03-linux66-priv-buildroot-build: any of: .*-felix.*, .*-rogue-.*, .*-vpu-.*, configs/mcom03_defconfig$, fragments/linux66.fragment$, fragments/private.fragment$
  mcom03r-linux66-priv-buildroot-build: any of: .*-felix.*, .*-rogue-.*, .*-vpu-.*, configs/mcom03r_defconfig$, fragments/private.fragment$
  mcom03r-fc-priv-buildroot-build: any of: .*mcom03r-fc.*
  mcom03r-smarc-fc-buildroot-build: any of: configs/mcom03r_smarcr3-fc_defconfig$
  mcom03-sbl-build: any of: board/elvees/mcom03-ddrinit-dtb-map.txt$, board/elvees/mcom03r-ddrinit-dtb-map.txt$
  mcom03r-linux66-priv-coverage-buildroot-build: any of: .*gcov.*
