Repository elvees/mcom03-buildroot-external: changes, and which Zuul jobs are due for each by the changed paths.
All: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

hpc.fragment: New fragment
  fragments/hpc.fragment
Due: none

mcom03_defconfig: Enable python-spidev package
  configs/mcom03_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

overlay: elvees: Add 11-modemmanager-names.rules
  overlay/elvees/etc/udev/rules.d/11-modemmanager-names.rules
Due: none

mcom03_defconfig: Enable evtest package
  configs/mcom03_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

fragments: Add linux510.fragment
  fragments/linux510.fragment
Due: none

mcom03_defconfig: Enable ethtool package
  configs/mcom03_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

mcom03_defconfig: Update using savedefconfig
  configs/mcom03_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

mcom03_defconfig: Enable dsp-coremark
  configs/mcom03_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

contrib: mcom03-boot.mdb: Update TF-A and U-Boot addresses
  contrib/mcom03-boot.mdb
Due: none

package/mcom03-sbl-tl: Add repo version config
  package/mcom03-sbl-tl/Config.in
  package/mcom03-sbl-tl/mcom03-sbl-tl.mk
Due: none

package/mcom03-hwinit: Add repo version config
  package/mcom03-hwinit/Config.in
  package/mcom03-hwinit/mcom03-hwinit.mk
Due: none

package/mcom03-tl-sbimg: Add repo version config
  package/mcom03-tl-sbimg/Config.in
  package/mcom03-tl-sbimg/mcom03-tl-sbimg.mk
Due: none

package/mcom03-tl-common: Add repo version config
  package/mcom03-tl-common/Config.in
  package/mcom03-tl-common/mcom03-tl-common.mk
Due: none

mcom03_defconfig: Enable ifmetric
  configs/mcom03_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

private.fragment: Enable mixbench package
  fragments/private.fragment
Due: mcom03-priv-buildroot-build

ci: Don't run all jobs when mcom03_defconfig is modified
  .zuul.yaml
Due: none

fragments: Add fragment for Trustphone r2.x
  .zuul.yaml
  fragments/trustphone2.fragment
Due: none

package/mcom03-linux-utils-python: Select python-luma-oled package
  configs/mcom03_defconfig
  package/mcom03-linux-utils-python/Config.in
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

board/elvees: update busybox tar configuration
  board/elvees/busybox.config
Due: none

egwcb-smarc.fragment: New fragment
  fragments/egwcb-smarc.fragment
Due: none

private.fragment: Enable dsp-thermo-tests
  fragments/private.fragment
Due: mcom03-priv-buildroot-build

package/mcom03-felix: Add focus test
  package/mcom03-felix/Config.in
  package/mcom03-felix/mcom03-felix.mk
Due: mcom03-priv-buildroot-build

package/mcom03-tl-common: Create tarball with binaries
  package/mcom03-tl-common/Config.in
  package/mcom03-tl-common/mcom03-tl-common.mk
Due: none

package/mcom03-sbl-tl: Create tarball with binaries
  package/mcom03-sbl-tl/Config.in
  package/mcom03-sbl-tl/mcom03-sbl-tl.mk
Due: none

private.fragment: Install tl-common, sbl-tl from sources
  fragments/private.fragment
Due: mcom03-priv-buildroot-build

mcom03_defconfig: Enable 88W8987 WiFi driver for Trusphone
  configs/mcom03_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

mcom03_defconfig: Enable bluez5 package
  configs/mcom03_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

Revert "mcom03_defconfig: Enable 88W8987 WiFi driver for Trusphone"
  configs/mcom03_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

overlay: elvees: systemd: add ALSA configuration
  overlay/elvees/usr/lib/systemd/system/alsa-restore.service.d/mfbsp-i2s.conf
  overlay/elvees/var/lib/alsa/asound.state
Due: none

Revert "Revert "mcom03_defconfig: Enable 88W8987 WiFi driver for Trusphone""
  configs/mcom03_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

mcom03_defconfig: Enable hwclock from util-linux
  configs/mcom03_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

linux510: Disable rogue packages
  fragments/linux510.fragment
Due: none

mcom03_defconfig: Enable dsp-memtester
  configs/mcom03_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

package/mcom03-hwinit: Build hwinit for all supported modules
  fragments/egwcb.fragment
  fragments/elvmc03cb.fragment
  fragments/elvsmarccb.fragment
  fragments/mcom03bub.fragment
  fragments/ngfwcb.fragment
  fragments/rockpi.fragment
  fragments/tl.fragment
  fragments/trustphone.fragment
  fragments/trustphone2.fragment
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

package/mcom03-felix: Add board configs
  package/mcom03-felix/mcom03-felix.mk
Due: mcom03-priv-buildroot-build

Build Buildroot with CentOS 8 by default
  .zuul.yaml
Due: none

mcom03_defconfig: Enable mcom03-fw-update utility
  configs/mcom03_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

Revert "package/mcom03-hwinit: Build hwinit for all supported modules"
  fragments/egwcb.fragment
  fragments/elvmc03cb.fragment
  fragments/elvsmarccb.fragment
  fragments/mcom03bub.fragment
  fragments/ngfwcb.fragment
  fragments/rockpi.fragment
  fragments/tl.fragment
  fragments/trustphone.fragment
  fragments/trustphone2.fragment
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

zuul: Remove trustphone-buildroot-build job
  .zuul.yaml
Due: none

ci: Run mcom03-elvmc03cb-buildroot-build when fragment is modified
  .zuul.yaml
Due: none

Path conditions:
  mcom03-ngfwcb-buildroot-build: any of: configs/mcom03_defconfig, fragments/ngfwcb.fragment
  mcom03-priv-buildroot-build: any of: .*-felix.*, .*-rogue-.*, .*-vpu-.*, configs/mcom03_defconfig, fragments/mcom03bub.fragment, fragments/private.fragment
  mcom03-rockpi-buildroot-build: any of: configs/mcom03_defconfig, fragments/rockpi.fragment
  mcom03-trustphone-buildroot-build: any of: configs/mcom03_defconfig, fragments/trustphone.fragment
