Repository elvees/mcom03-buildroot-external: changes, and which Zuul jobs are due for each by the changed paths.
All: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build, mcom03-linux510-cv-buildroot-build, mcom03-nn-dev-buildroot-build, mcom03-qt-buildroot-build, mcom03-sbl-build

ddrinit-dtb-map: Add support for MONO-BOARD r1.2.2
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build, mcom03-sbl-build

fragments: Install dsp-elcore50-libraries from source code
  configs/mcom03_defconfig
  fragments/private.fragment
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

ddrinit-dtb-map: Support ELV-MC03-Q7 r2.8.1 + ELV-Q7-CB r3.3.0
  board/elvees/ddrinit-dtb-map.txt
Due: mcom03-linux510-buildroot-build, mcom03-sbl-build

mcom03_defconfig: Enable RTL8821CE Wi-Fi firmware
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

ddrinit-dtb-map: Support ELV-MC03-SMARC r2.11.0 @ ELV-SMARC-CB r3.3.0
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build, mcom03-sbl-build

ddrinit-dtb-map: Support ELV-MC03-SMARC r2.10.0 @ ELV-SMARC-CB r3.3.0
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build, mcom03-sbl-build

Enable ssl python module for get-pip.py script
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Enable BR2_PACKAGE_MCOM03_LINUX_UTILS_WESTON
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

package/mcom03-linux-utils: Add config to turn on/off
  package/mcom03-linux-utils/Config.in
  package/mcom03-linux-utils/mcom03-linux-utils.mk
Due: mcom03-linux510-buildroot-build

package/mcom03-felix: Set dependency for PDP from libdrm
  package/mcom03-felix/Config.in
  package/mcom03-felix/mcom03-felix.mk
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Remove dsplib and signal_lib package
  configs/mcom03_defconfig
  fragments/private.fragment
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

package/mcom03-linux-utils: Add option for mcom03-monoboard
  package/mcom03-linux-utils/Config.in
  package/mcom03-linux-utils/mcom03-linux-utils.mk
Due: mcom03-linux510-buildroot-build

mcom03_defconfig: Enable mcom03-monoboard services
  .zuul.yaml
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Enable collectd plugins
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

qt.fragment: Add pyqt5 package
  fragments/qt.fragment
Due: mcom03-linux510-buildroot-build, mcom03-qt-buildroot-build

ddrinit-dtb-map: Support ELV-MC03-CE r2.8.1 + ELV-CE-CB r3.3.0
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build, mcom03-sbl-build

ddrinit-dtb-map: Support ELV-MC03-SMARC r2.7.1 @ ELV-APK-SKIF-II r1.1.1
  board/elvees/ddrinit-dtb-map.txt
Due: mcom03-linux510-buildroot-build, mcom03-sbl-build

package/mcom03-tl-core: Remove the package
  Config.in
  fragments/private.fragment
  fragments/tl.fragment
  package/mcom03-sbl/Config.in
  package/mcom03-sbl/mcom03-sbl.mk
  package/mcom03-tl-core/Config.in
  package/mcom03-tl-core/mcom03-tl-core.mk
  package/mcom03-tl-sbimg/Config.in
  package/mcom03-tl-sbimg/mcom03-tl-sbimg.mk
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

package/mcom03-linux-utils-python: Add dependencies
  .zuul.yaml
  configs/mcom03_defconfig
  package/mcom03-linux-utils-python/Config.in
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

Update QEMU support
  README.rst
  board/elvees/linux-qemu.config
  fragments/qemu.fragment
  support/config-fragments/qemu.config
Due: mcom03-linux510-buildroot-build

mcom03_defconfig: Enable coremark
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

package/mcom03-vpu-modules: Add possibility to set version
  package/mcom03-vpu-modules/Config.in
  package/mcom03-vpu-modules/mcom03-vpu-modules.mk
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Enable elvees-alsa-prepare package
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

overlay: elvees: Remove asound.state
  overlay/elvees/var/lib/alsa/asound.state
Due: mcom03-linux510-buildroot-build

private.fragment: Remove dsp_thermo_tests package
  fragments/private.fragment
Due: mcom03-linux510-priv-buildroot-build

package/mcom03-felix: Add felix-sensor-modes utility
  package/mcom03-felix/Config.in
  package/mcom03-felix/mcom03-felix.mk
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Build elvees-coremark for 4 threads
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

ddrinit-dtb-map: Support ELV-MC03-Q7 r2.11.1 + ELV-Q7-CB r3.3.0
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build, mcom03-sbl-build

ddrinit-dtb-map: Support ELV-MC03-CE r2.11.0 + ELV-CE-CB r3.3.0
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build, mcom03-sbl-build

package/mcom03-sbl-tl: Move the package to SBL project
  Config.in
  fragments/private.fragment
  fragments/tl.fragment
  package/mcom03-sbl-tl/Config.in
  package/mcom03-sbl-tl/mcom03-sbl-tl.mk
  package/mcom03-tl-sbimg/Config.in
  package/mcom03-tl-sbimg/mcom03-tl-sbimg.mk
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

cv.fragment: Use cv-test instead of gst-plugins-cv
  .zuul.yaml
  fragments/cv.fragment
Due: mcom03-linux510-buildroot-build, mcom03-linux510-cv-buildroot-build

package/mcom03-felix: Show all options always
  package/mcom03-felix/Config.in
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

ddrinit-dtb-map: Support IP-KU M1 r1.0
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build, mcom03-sbl-build

mcom03_defconfig: Replace bootloader/u-boot with mcom03/u-boot
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Use NetworkManager for DNS resolving
  configs/mcom03_defconfig
  overlay/elvees/etc/resolv.conf
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

fragments: Remove tl.fragment
  .zuul.yaml
  README.rst
  board/elvees/certs.tar.gz
  configs/mcom03_defconfig
  fragments/tl.fragment
  package/mcom03-tl-sbimg/Config.in
  package/mcom03-tl-sbimg/mcom03-tl-sbimg.mk
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

ci: Use aliases for CV zuul jobs
  .zuul.yaml
Due: mcom03-linux510-buildroot-build

ci: Switch jobs to Linux 6.6
  .zuul.yaml
Due: mcom03-linux510-buildroot-build

overlay: elvees: Rename existing overlay to 'common'
  configs/mcom03_defconfig
  fragments/private.fragment
  overlay/elvees/common/etc/fstab
  overlay/elvees/common/etc/resolv.conf
  overlay/elvees/common/etc/ssh/sshd_config
  overlay/elvees/common/etc/udev/rules.d/11-modemmanager-names.rules
  overlay/elvees/common/usr/bin/extlinux-gen
  overlay/elvees/common/usr/lib/systemd/system-preset/60-collectd.preset
  overlay/elvees/common/usr/lib/systemd/system-preset/70-mcom03-weston.preset
  overlay/elvees/common/usr/lib/systemd/system-preset/71-ptp.preset
  overlay/elvees/common/usr/lib/systemd/system/alsa-restore.service.d/mfbsp-i2s.conf
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

mcom03fc_defconfig: New defconfig
  configs/mcom03fc_defconfig
Due: mcom03-linux510-buildroot-build

Path conditions:
  mcom03-linux510-buildroot-build: unless all of: .pre-commit-config.yaml$, fragments/cv.fragment$, fragments/hpc.fragment, fragments/nn-dev.fragment, fragments/private.fragment$, fragments/tl.fragment$, package/mcom03-tl-.*, README.rst$
  mcom03-linux510-priv-buildroot-build: any of: .*-felix.*, .*-rogue-.*, .*-vpu-.*, configs/mcom03_defconfig$, fragments/private.fragment$
  mcom03-linux510-cv-buildroot-build: any of: fragments/cv.fragment$
  mcom03-nn-dev-buildroot-build: any of: fragments/nn-dev.fragment
  mcom03-qt-buildroot-build: any of: fragments/qt.fragment
  mcom03-sbl-build: any of: board/elvees/ddrinit-dtb-map.txt$
