Repository elvees/mcom03-buildroot-external: changes, and which Zuul jobs are due for each by the changed paths.
All: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-cv-buildroot-build, mcom03-nn-dev-buildroot-build, mcom03r-linux66-qt-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03r-fc-priv-buildroot-build, mcom03r-smarc-fc-buildroot-build, mcom03-sbl-build, mcom03r-linux66-priv-coverage-buildroot-build

.zuul.yaml:

- project:
    check:
      jobs: &check-jobs
        - mcom03-linux66-buildroot-build:
            irrelevant-files:
              - .pre-commit-config.yaml$
              - fragments/cv.fragment$
              - fragments/hpc.fragment
              - fragments/nn-dev.fragment
              - fragments/private.fragment$
              - package/mcom03-tl-.*
              - README.rst$
        - mcom03r-linux66-buildroot-build:
            irrelevant-files:
              - .pre-commit-config.yaml$
              - fragments/cv.fragment$
              - fragments/hpc.fragment
              - fragments/nn-dev.fragment
              - fragments/private.fragment$
              - package/mcom03-tl-.*
              - README.rst$
        - mcom03-cv-buildroot-build:
            files:
              - fragments/cv.fragment$
        - mcom03-nn-dev-buildroot-build:
            files:
              - fragments/nn-dev.fragment
        - mcom03r-linux66-qt-buildroot-build:
            files:
              - fragments/qt.fragment
        - mcom03-linux66-priv-buildroot-build:
            files:
              - .*-felix.*
              - .*-rogue-.*
              - .*-vpu-.*
              - configs/mcom03_defconfig$
              - fragments/linux66.fragment$
              - fragments/private.fragment$
        - mcom03r-linux66-priv-buildroot-build:
            files:
              - .*-felix.*
              - .*-rogue-.*
              - .*-vpu-.*
              - configs/mcom03r_defconfig$
              - fragments/private.fragment$
        - mcom03r-fc-priv-buildroot-build:
            files:
              - .*mcom03r-fc.*
        - mcom03r-smarc-fc-buildroot-build:
            files:
              - configs/mcom03r_smarcr3-fc_defconfig$
        - pre-commit
        - mcom03-sbl-build:
            files:
              - board/elvees/mcom03-ddrinit-dtb-map.txt$
              - board/elvees/mcom03r-ddrinit-dtb-map.txt$
        - mcom03r-linux66-priv-coverage-buildroot-build:
            files: [.*gcov.*]
    gate:
      jobs: *check-jobs

    # Feel free to edit jobs below
    experimental:
      jobs:
        - mcom03r-linux66-buildroot-build:
            vars:
              fragments: gcov

package/mcom03-sbl: Add boot tools to PATH
  package/mcom03-sbl/mcom03-sbl.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

defconfigs: Set default path to SBIMG certs
  board/elvees/sbl-sbimg-certs.tar.gz
  configs/mcom03_defconfig
  configs/mcom03r-fc_defconfig
  configs/mcom03r_defconfig
  configs/mcom03r_smarcr3-fc_defconfig
  package/mcom03-sbl/Config.in
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03r-fc-priv-buildroot-build, mcom03r-smarc-fc-buildroot-build

defconfigs: Build non-signed SBIMGs
  configs/mcom03_defconfig
  configs/mcom03r-fc_defconfig
  configs/mcom03r_defconfig
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03r-fc-priv-buildroot-build, mcom03r-smarc-fc-buildroot-build

Add new fragment to enable secure boot sequence
  board/elvees/post-build.sh
  board/elvees/uboot-fit-certs.tar.gz
  board/elvees/uboot-fit.fragment
  fragments/secboot.fragment
  package/mcom03-sbl/Config.in
  package/mcom03-sbl/mcom03-sbl.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

mcom03-ddrinit-dtb-map: Drop support of Trustphone
  board/elvees/mcom03-ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03-sbl-build

configs: Enable BR2_ELCORE50_DUMP option
  configs/mcom03_defconfig
  configs/mcom03r-fc_defconfig
  configs/mcom03r_defconfig
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03r-fc-priv-buildroot-build, mcom03r-smarc-fc-buildroot-build

package/mcom03-felix: Add missing dependencies
  package/mcom03-felix/mcom03-felix.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build

mcom03-ddrinit-dtb-map: Support Multicluster BMC/Unit r2.2
  board/elvees/mcom03-ddrinit-dtb-map.txt
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-sbl-build

nn-dev.fragment: Remove all options except ELCORE_EPP
  fragments/nn-dev.fragment
Due: mcom03-nn-dev-buildroot-build

mcom03*_defconfig: Regenerate with savedefconfig
  configs/mcom03_defconfig
  configs/mcom03r_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build

mcom03*_defconfig: Enable BR2_PACKAGE_SEATD_BUILTIN
  configs/mcom03_defconfig
  configs/mcom03r-fc_defconfig
  configs/mcom03r_defconfig
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03r-fc-priv-buildroot-build, mcom03r-smarc-fc-buildroot-build

mcom03r*_defconfig: Add missing *_HOST_LINUX_HEADERS_CUSTOM_*
  configs/mcom03r-fc_defconfig
  configs/mcom03r_defconfig
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03r-fc-priv-buildroot-build, mcom03r-smarc-fc-buildroot-build

package/mcom03-sbl: Add _INSTALL_TARGET_CMDS
  package/mcom03-sbl/mcom03-sbl.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

linux66.fragment: Change LINUX_HEADERS_CUSTOM version to 6.6.x
  fragments/linux66.fragment
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build

mcom03*_defconfig: Regenerate for Buildroot 2025.11
  configs/mcom03_defconfig
  configs/mcom03r-fc_defconfig
  configs/mcom03r_defconfig
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03r-fc-priv-buildroot-build, mcom03r-smarc-fc-buildroot-build

mcom03r_smarcr3-fc_defconfig: Enable BR2_PACKAGE_LIBOPENSSL_ENGINES
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-smarc-fc-buildroot-build

qt6.fragment: Add Qt6 fragment and buildroot-build job
  .zuul.yaml
  fragments/qt6.fragment
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

Switch to Linux 6.6 build
  .zuul.yaml
  configs/mcom03_defconfig
  fragments/linux66.fragment
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build

zuul: Simplify files filter
  .zuul.yaml
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

linux618.fragment: Add new fragment
  .zuul.yaml
  README.rst
  fragments/linux618.fragment
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

Update ddrinit-dtb-map description
  Config.in
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

pre-commit: Remove ddrinit defconfig check
  .pre-commit-config.yaml
Due: none

mcom03_defconfig: Enable arm-hang-test build
  configs/mcom03_defconfig
  configs/mcom03r_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build

linux618.fragment: Enable vpu-modules
  fragments/linux618.fragment
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

mcom03*_defconfig: Enable BR2_PACKAGE_SEATD
  configs/mcom03_defconfig
  configs/mcom03r-fc_defconfig
  configs/mcom03r_defconfig
  configs/mcom03r_smarcr3-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build, mcom03r-fc-priv-buildroot-build, mcom03r-smarc-fc-buildroot-build

ci: Remove unused mcom03-cv-buildroot-build
  .zuul.yaml
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

mcom03_defconfig: Remove leftover ddrinit defconfigs
  configs/mcom03_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build

Split ddrinit-dtb maps
  board/elvees/mcom03r-fc-ddrinit-dtb-map.txt
  configs/mcom03r-fc_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-fc-priv-buildroot-build

fragments: linux618: Enable DSP related options
  fragments/linux618.fragment
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

linux618.fragment: Enable rogue-modules
  fragments/linux618.fragment
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

package/mcom03-rogue-libs: Remove offscreen option
  package/mcom03-rogue-libs/Config.in
  package/mcom03-rogue-libs/mcom03-rogue-libs.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build

linux618.fragment: Enable felix and sensor-phy
  fragments/linux618.fragment
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build

package/mcom03-felix: Build from sources if gst-felix is overriden
  package/mcom03-felix/mcom03-felix.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build

mcom03r_defconfig: Enable python-tappy
  configs/mcom03r_defconfig
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-linux66-priv-buildroot-build

package/gst-felix: Remove dependency from lenscontrol
  package/gst-felix/gst-felix.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build

package/gst-felix: Add staging install step
  package/gst-felix/gst-felix.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build

mcom03-assets: Package mcom03/tests assets
  Config.in
  board/elvees/mcom03r-fc-assets.txt
  board/elvees/research-freq-assets.txt
  configs/mcom03r-fc_defconfig
  configs/mcom03r_smarcr3-fc_defconfig
  fragments/research-freq.fragment
  package/mcom03-assets/Config.in
  package/mcom03-assets/mcom03-assets.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03r-fc-priv-buildroot-build, mcom03r-smarc-fc-buildroot-build

package/mcom03-felix: Force build gst-felix from source
  package/mcom03-felix/Config.in
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build

Remove GIT_DIR setting from package recipes
  package/gst-felix/gst-felix.mk
  package/mcom03-felix/mcom03-felix.mk
  package/mcom03-rogue-libs/mcom03-rogue-libs.mk
  package/mcom03-vpu-libs/mcom03-vpu-libs.mk
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build, mcom03-linux66-priv-buildroot-build, mcom03r-linux66-priv-buildroot-build

board/elvees: Disable default value for bootcmd in the environment
  board/elvees/uboot-fit.fragment
Due: mcom03-linux66-buildroot-build, mcom03r-linux66-buildroot-build
