Repository elvees/mcom03-buildroot-external: changes, and which Zuul jobs are due for each by the changed paths.
All: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-rockpi-weston-buildroot-build, mcom03-trustphone2-buildroot-build

elvmc03cb.fragment: New ddrinit config
  fragments/elvmc03cb.fragment
Due: none

package/mcom03-hwinit: Add protocol to SITE URL
  package/mcom03-hwinit/mcom03-hwinit.mk
Due: none

ci: Run mcom03-elvsmarccb-buildroot-build
  .zuul.yaml
Due: none

mcom03_defconfig: Add packages for CAN interface support
  configs/mcom03_defconfig
Due: mcom03-priv-buildroot-build

mcom03_defconfig: Add missing config for facesdk pipeline
  configs/mcom03_defconfig
Due: mcom03-priv-buildroot-build

package/gst-felix: Add dependency on lenscontrol plugin
  package/gst-felix/gst-felix.mk
Due: mcom03-priv-buildroot-build

toolchain-mipsel-elvees-elf32: Add a hash file
  toolchain/toolchain-mipsel-elvees-elf32/toolchain-mipsel-elvees-elf32.hash
Due: none

toolchain-mipsel-elvees-elf32: Update URL
  toolchain/toolchain-mipsel-elvees-elf32/toolchain-mipsel-elvees-elf32.mk
Due: none

package/mcom03-tl-common: Add protocol to SITE URL
  package/mcom03-tl-common/mcom03-tl-common.mk
Due: none

mcom03_defconfig: Remove redundant package inclusion
  configs/mcom03_defconfig
Due: mcom03-priv-buildroot-build

package/mcom03-sbl: Install targets to sbl folder
  package/mcom03-sbl/mcom03-sbl.mk
Due: none

contrib: Remove mcom03-boot.mdb
  contrib/mcom03-boot.mdb
Due: none

fragments: Add fragment for ELV-Q7-CB
  .zuul.yaml
  fragments/elvq7cb.fragment
Due: none

package/mcom03-tl-sbimg: Download certs to dl dir
  fragments/tl.fragment
  package/mcom03-tl-sbimg/Config.in
  package/mcom03-tl-sbimg/mcom03-tl-sbimg.mk
Due: none

fragments: New defconfig fragment for ELV-SMARC-CB r2.9
  fragments/elvmc03smarc-r2.2-elvsmarccb-r2.9.fragment
Due: none

ci: Run mcom03-elvsmarc2cb2-buildroot-build
  .zuul.yaml
Due: none

pre-commit: Autoupdate hooks versions to latest
  .pre-commit-config.yaml
Due: none

toolchain-mipsel-elvees-elf32: Update GCC version to r193114_10.2023-04-05
  toolchain/toolchain-mipsel-elvees-elf32/toolchain-mipsel-elvees-elf32.hash
  toolchain/toolchain-mipsel-elvees-elf32/toolchain-mipsel-elvees-elf32.mk
Due: none

package/mcom03-sbl-tl: Move project to gerrit
  package/mcom03-sbl-tl/Config.in
  package/mcom03-sbl-tl/mcom03-sbl-tl.mk
Due: none

package/mcom03-tl-core: New package
  Config.in
  fragments/private.fragment
  package/mcom03-tl-core/Config.in
  package/mcom03-tl-core/mcom03-tl-core.mk
Due: mcom03-priv-buildroot-build, mcom03-rockpi-weston-buildroot-build

package/mcom03-tl-sbimg: Build with tl-core
  Config.in
  fragments/private.fragment
  fragments/tl.fragment
  package/mcom03-tl-common/Config.in
  package/mcom03-tl-common/mcom03-tl-common.mk
  package/mcom03-tl-sbimg/Config.in
  package/mcom03-tl-sbimg/mcom03-tl-sbimg.mk
Due: mcom03-priv-buildroot-build, mcom03-rockpi-weston-buildroot-build

package/mcom03-tl-sbimg: Use sbl-s1 instead of hwinit
  Config.in
  fragments/tl.fragment
  package/mcom03-hwinit/Config.in
  package/mcom03-hwinit/mcom03-hwinit.mk
  package/mcom03-tl-sbimg/Config.in
  package/mcom03-tl-sbimg/mcom03-tl-sbimg.mk
Due: none

fragments: Reuse nn.fragment
  .zuul.yaml
  fragments/nn-dev.fragment
  fragments/nn.fragment
Due: none

package/mcom03-felix: Specify kernel version for binary distribution
  package/mcom03-felix/mcom03-felix.mk
Due: mcom03-priv-buildroot-build

linux510: Enable Felix packages
  fragments/linux510.fragment
Due: none

package/mcom03-felix: Swap date and SHA in tarball filename
  package/mcom03-felix/mcom03-felix.mk
Due: mcom03-priv-buildroot-build

package/mcom03-felix: Specify Linux version
  configs/mcom03_defconfig
  fragments/linux510.fragment
  package/mcom03-felix/Config.in
  package/mcom03-felix/mcom03-felix.mk
Due: mcom03-priv-buildroot-build

package/mcom03-vpu-libs: Switch to using latest version
  package/mcom03-vpu-libs/mcom03-vpu-libs.mk
Due: mcom03-priv-buildroot-build

cv.fragment: New fragment
  fragments/cv.fragment
Due: none

package/bootrom-tools: Change download method
  package/bootrom-tools/bootrom-tools.hash
  package/bootrom-tools/bootrom-tools.mk
Due: none

nn-dev.fragment: Enable armnn
  fragments/nn-dev.fragment
Due: none

package/mcom03-baremetal-tools: New package
  Config.in
  package/mcom03-baremetal-tools/Config.in
  package/mcom03-baremetal-tools/mcom03-baremetal-tools.mk
Due: none

mcom03_defconfig: Enable baremetal-tools
  configs/mcom03_defconfig
Due: mcom03-priv-buildroot-build

package/mcom03-tl-sbimg: Download certificates for local builds
  package/mcom03-tl-sbimg/mcom03-tl-sbimg.mk
Due: none

mcom03: Add BR2_MCOM03_DDRINIT_DTB_MAP option
  Config.in
  board/elvees/ddrinit-dtb-map.txt
Due: none

package/mcom03-sbl: Build SBL for given ddrinit defconfigs and DTBs
  package/mcom03-sbl/Config.in
  package/mcom03-sbl/mcom03-sbl.mk
Due: none

configs/mcom03_defconfig: Add U-Boot, ddrinit and sbl options
  configs/mcom03_defconfig
  fragments/egwcb-smarc.fragment
  fragments/egwcb.fragment
  fragments/elvmc03cb.fragment
  fragments/elvmc03smarc-r2.2-elvsmarccb-r2.9.fragment
  fragments/elvq7cb.fragment
  fragments/elvsmarccb.fragment
  fragments/mcom03bub.fragment
  fragments/ngfwcb.fragment
  fragments/rockpi.fragment
  fragments/trustphone.fragment
  fragments/trustphone2.fragment
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-rockpi-weston-buildroot-build, mcom03-trustphone2-buildroot-build

package/mcom03-tl-sbimg: Pass DTB list to the package
  package/mcom03-tl-sbimg/mcom03-tl-sbimg.mk
Due: none

cv.fragment: Enable elrotate plugin
  .zuul.yaml
  fragments/cv.fragment
Due: none

Add README.rst
  .pre-commit-config.yaml
  README.rst
Due: none

Path conditions:
  mcom03-ngfwcb-buildroot-build: any of: fragments/ngfwcb.fragment
  mcom03-priv-buildroot-build: any of: .*-felix.*, .*-rogue-.*, .*-vpu-.*, configs/mcom03_defconfig, fragments/mcom03bub.fragment, fragments/private.fragment
  mcom03-rockpi-buildroot-build: any of: fragments/rockpi.fragment
  mcom03-rockpi-weston-buildroot-build: any of: .*-rogue-.*, fragments/rockpi.fragment, fragments/private.fragment, fragments/weston.fragment
  mcom03-trustphone2-buildroot-build: any of: fragments/trustphone2.fragment
