Repository elvees/mcom03-buildroot-external: changes, and which Zuul jobs are due for each by the changed paths.
All: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

.zuul.yaml:

---
- project:
    check:
      jobs:
        - mcom03-buildroot-build
        - mcom03-ngfwcb-buildroot-build:
            files:
              - configs/ngfwcb_defconfig
        - mcom03-priv-buildroot-build:
            files:
              - .*-rogue-.*
              - .*-vpu-.*
              - .*isp.*
              - configs/.*priv_defconfig
        - mcom03-rockpi-buildroot-build:
            files:
              - configs/rockpi_defconfig
        - mcom03-trustphone-buildroot-build:
            files:
              - configs/trustphonepm_defconfig
        - pre-commit

defconfigs: Enable linux-firmware package
  configs/mcom03bub_defconfig
  configs/mcom03bubpriv_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

defconfigs: Enable libqmi
  configs/mcom03bub_defconfig
  configs/mcom03bubpriv_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

isp-ddk: Build ISPC_loop with display output
  package/isp-ddk/Config.in
  package/isp-ddk/isp-ddk.mk
Due: mcom03-priv-buildroot-build

defconfigs: Enable pcitest
  configs/mcom03bub_defconfig
  configs/mcom03bubpriv_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

defconfigs: Enable alsa-utils and ModemManager
  configs/mcom03bub_defconfig
  configs/mcom03bubpriv_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

contrib: mcom03-boot.mdb: Reduce interconnect frequency
  contrib/mcom03-boot.mdb
Due: none

defconfigs: Switch to systemd
  configs/mcom03bub_defconfig
  configs/mcom03bubpriv_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

package/mali-vpu-lib: Make mali-vpu-lib provider for libopenmax package
  package/mali-vpu-libs/Config.in
Due: mcom03-priv-buildroot-build

package/mcom03-rogue-libs: Add libxml2 dependency
  package/mcom03-rogue-libs/Config.in
  package/mcom03-rogue-libs/mcom03-rogue-libs.mk
Due: mcom03-priv-buildroot-build

defconfigs: Update for 2021.11
  configs/mcom03bub_defconfig
  configs/mcom03bubpriv_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

package/mali-vpu-libs: Create tarball with binaries
  package/mali-vpu-libs/mali-vpu-libs.mk
Due: mcom03-priv-buildroot-build

package/mcom03-sbl: Remove dependency on Linux kernel
  Config.in
Due: none

defconfigs: Regenerate with savedefconfig
  configs/mcom03bub_defconfig
  configs/mcom03bubpriv_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

defconfigs: Enable NetworkManager and wpa-supplicant
  configs/mcom03bub_defconfig
  configs/mcom03bubpriv_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

defconfigs: Enable mcom03-mali-vpu-libs in public defconfigs
  configs/mcom03bub_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

defconfigs: Call extlinux-gen script at post-build step
  configs/mcom03bub_defconfig
  configs/mcom03bubpriv_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

package/mcom03-mali-vpu-libs: New package
  Config.in
  package/mcom03-mali-vpu-libs/Config.in
  package/mcom03-mali-vpu-libs/mcom03-mali-vpu-libs.mk
Due: mcom03-priv-buildroot-build

overlay: Replace extlinux.conf with extlinux-gen
  overlay/elvees/boot/extlinux/extlinux.conf
  overlay/elvees/usr/bin/extlinux-gen
Due: none

defconfigs: Use wildcards for DT files
  configs/mcom03bub_defconfig
  configs/mcom03bubpriv_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

package/mcom03-vpu-libs-bin: Rename package
  Config.in
  configs/mcom03bub_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
  package/mcom03-mali-vpu-libs/mcom03-mali-vpu-libs.mk
  package/mcom03-vpu-libs-bin/Config.in
  package/mcom03-vpu-libs-bin/mcom03-vpu-libs-bin.mk
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

package/mcom03-vpu-modules: Rename package
  Config.in
  package/mcom03-vpu-libs-bin/Config.in
  package/mcom03-vpu-libs/Config.in
  package/mcom03-vpu-libs/mcom03-vpu-libs.mk
  package/mcom03-vpu-modules/Config.in
  package/mcom03-vpu-modules/mcom03-vpu-modules.mk
Due: mcom03-priv-buildroot-build

package/mcom03-vpu-libs: Rename package
  Config.in
  configs/mcom03bubpriv_defconfig
  package/mali-vpu-libs/mali-vpu-libs.mk
  package/mcom03-vpu-libs/Config.in
  package/mcom03-vpu-libs/mcom03-vpu-libs.mk
Due: mcom03-priv-buildroot-build

defconfigs: Enable tar2dev
  configs/mcom03bub_defconfig
  configs/mcom03bubpriv_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

defconfigs: Compress rootfs.tar using gzip
  configs/mcom03bub_defconfig
  configs/mcom03bubpriv_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

defconfigs: Enable GStreamer with plugins
  configs/mcom03bub_defconfig
  configs/mcom03bubpriv_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

defconfigs: Disable building rootfs.ext2 and sdcard.img
  board/elvees/sd-image.cfg
  configs/mcom03bub_defconfig
  configs/mcom03bubpriv_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

package/mcom03-rogue-libs: Add package prefix for var
  package/mcom03-rogue-libs/mcom03-rogue-libs.mk
Due: mcom03-priv-buildroot-build

defconfigs: Remove RTL and HAPS defconfig
  configs/mcom03haps_defconfig
  configs/mcom03rtl_defconfig
Due: none

defconfigs: Enable dool and uart-loopback-test for all boards
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

ci: Add configuration for experimental pipeline
  .zuul.yaml
Due: none

defconfigs: Disable host tools
  configs/mcom03bub_defconfig
  configs/mcom03bubpriv_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

package/mcom03-vpu-libs-bin: Add conflict with mcom03-vpu-libs
  package/mcom03-vpu-libs-bin/Config.in
Due: mcom03-priv-buildroot-build

package/mcom03-rogue-*: Switch to elvees-1.10.y branch
  package/mcom03-rogue-libs/mcom03-rogue-libs.mk
  package/mcom03-rogue-modules/mcom03-rogue-modules.mk
Due: mcom03-priv-buildroot-build

toolchain/toolchain-mipsel-elvees-elf32: New toolchain
  external.mk
  toolchain/toolchain-mipsel-elvees-elf32/0001-toolchain-mipsel-elvees-elf32-Add-CP0-register-encodings.patch
  toolchain/toolchain-mipsel-elvees-elf32/toolchain-mipsel-elvees-elf32.mk
  toolchain/toolchain-mipsel-elvees-elf32/toolchain.cmake
Due: none

ci: Skip trailing-whitespace check for patches
  .pre-commit-config.yaml
Due: none

toolchain/toolchain-mipsel-elvees-elf32: Add defines for assembler
  toolchain/toolchain-mipsel-elvees-elf32/0001-toolchain-mipsel-elvees-elf32-Add-CP0-register-encodings.patch
Due: none

defconfigs: Add new common defconfig and fragments
  configs/mcom03_defconfig
  fragments/mcom03bub.fragment
  fragments/ngfwcb.fragment
  fragments/private.fragment
  fragments/rockpi.fragment
  fragments/trustphone.fragment
Due: none

defconfigs: Remove defconfigs replaced by fragments
  .zuul.yaml
  configs/mcom03bub_defconfig
  configs/mcom03bubpriv_defconfig
  configs/ngfwcb_defconfig
  configs/rockpi_defconfig
  configs/trustphonepm_defconfig
Due: mcom03-ngfwcb-buildroot-build, mcom03-priv-buildroot-build, mcom03-rockpi-buildroot-build, mcom03-trustphone-buildroot-build

package/mcom03-sbl: Use toolchain-mipsel-elvees-elf32
  package/mcom03-sbl/mcom03-sbl.mk
Due: none

mcom03_defconfig: Enable videoparsers for GStreamer
  configs/mcom03_defconfig
Due: none
