Repository elvees/mcom03-buildroot-external: changes, and which Zuul jobs are due for each by the changed paths.
All: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build, mcom03-linux510-cv-buildroot-build, mcom03-weston-buildroot-build, mcom03-nn-dev-buildroot-build, mcom03-sbl-build

overlay: elvees: systemd: Add preset file for mcom03-weston service
  overlay/elvees/usr/lib/systemd/system-preset/70-mcom03-weston.preset
Due: mcom03-linux510-buildroot-build

package/mcom03-rogue-libs: Make Rogue libraries Vulkan provider
  package/mcom03-rogue-libs/Config.in
  package/mcom03-rogue-libs/mcom03-rogue-libs.mk
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build, mcom03-weston-buildroot-build

board/elvees: Add assets list for vulkan-demos package
  board/elvees/vulkan-assets.list
Due: mcom03-linux510-buildroot-build

mcom03_defconfig: Enable Vulkan demos package
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Enable systemd-analyze
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

nn-dev.fragment: Enable mqtt support
  fragments/nn-dev.fragment
Due: mcom03-nn-dev-buildroot-build

mcom03_defconfig: Merge linux510 fragment into the defconfig
  configs/mcom03_defconfig
  fragments/linux510.fragment
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

Drop mentioning linux510 fragment
  README.rst
Due: none

fragments: cv: Enable elvideoscale
  fragments/cv.fragment
Due: mcom03-linux510-cv-buildroot-build

mcom03_defconfig: Enable nmcli
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

ddrinit-dtb-map: Support ELV-MC03-SMARC r2.7.1 @ THIN-CB4 r1.0.0
  board/elvees/ddrinit-dtb-map.txt
Due: mcom03-linux510-buildroot-build, mcom03-sbl-build

package/mcom03-linux-utils: Add option for mcom03-set-hostname
  package/mcom03-linux-utils/Config.in
  package/mcom03-linux-utils/mcom03-linux-utils.mk
Due: mcom03-linux510-buildroot-build

mcom03_defconfig: Enable mcom03-set-hostname service
  .zuul.yaml
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

private.fragments: Add overlay from buildroot-external/private
  fragments/private.fragment
Due: mcom03-linux510-priv-buildroot-build, mcom03-weston-buildroot-build

fragments: Add new fragment to enable Qt5
  .zuul.yaml
  fragments/qt.fragment
Due: mcom03-linux510-buildroot-build

nn-dev.fragment: Disable elcorenn source code installing
  fragments/nn-dev.fragment
Due: mcom03-nn-dev-buildroot-build

ddrinit-dtb-map: Add support for Macro EMS Pico-ITX r2
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build, mcom03-sbl-build

mcom03_defconfig: Enable systemd-logind
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

ddrinit-dtb-map: Add smarccommoncb support
  board/elvees/ddrinit-dtb-map.txt
Due: mcom03-linux510-buildroot-build, mcom03-sbl-build

mcom03_defconfig: Move packages from nn-dev.fragment
  .zuul.yaml
  configs/mcom03_defconfig
  fragments/nn-dev.fragment
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build, mcom03-nn-dev-buildroot-build

overlay: elvees: systemd: Add preset to disable linuxptp services
  overlay/elvees/usr/lib/systemd/system-preset/71-ptp.preset
Due: mcom03-linux510-buildroot-build

mcom03_defconfig: Enable linuxptp package
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

package/mcom03-felix: Force build from source if srcdir is overridden
  package/mcom03-felix/mcom03-felix.mk
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

package/sensor-phy: Rename package symbol to BR2_PACKAGE_SENSOR_PHY
  package/mcom03-felix/Config.in
  package/sensor-phy/Config.in
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

package/mcom03-felix: Fix installation from the source code
  package/mcom03-felix/mcom03-felix.mk
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

package/gst-felix: Rename config for GStreamer lenscontrol plugin
  package/gst-felix/gst-felix.mk
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

ddrinit-dtb-map: Support ELV-MC03-SMARC r2.9.1 @ ELV-SMARC-CB r3.3.0
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build, mcom03-sbl-build

ddrinit-dtb-map: Support ELV-MC03-SMARC r1.1 @ ELV-SMARC-CB r3.3.0
  board/elvees/ddrinit-dtb-map.txt
Due: mcom03-linux510-buildroot-build, mcom03-sbl-build

mcom03_defconfig: Enable alsautils speaker-test
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

private.fragment: Enable dsp-sdr-drivers package
  fragments/private.fragment
Due: mcom03-linux510-priv-buildroot-build, mcom03-weston-buildroot-build

mcom03_defconfig: Enable audio-tests package
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

ddrinit-dtb-map: Change board names according to silk
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build, mcom03-sbl-build

fragments: Install dsp-signal-lib from source code
  configs/mcom03_defconfig
  fragments/private.fragment
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build, mcom03-weston-buildroot-build

ci: fragments/cv.fragment: Build image-processor from sources
  fragments/cv.fragment
Due: mcom03-linux510-cv-buildroot-build

mcom03_defconfig: Enable bootrom-tools package
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

ddrinit-dtb-map: Rename "mcom03-bub" to "mcom03-mcom03bub"
  board/elvees/ddrinit-dtb-map.txt
Due: mcom03-linux510-buildroot-build, mcom03-sbl-build

ddrinit-dtb-map: Support ELV-MC03-Q7 r2.8.1
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build, mcom03-sbl-build

linux66.fragment: Add new fragment
  .zuul.yaml
  fragments/linux66.fragment
Due: mcom03-linux510-buildroot-build

package/mcom03-felix: Rename test utilities in config
  package/mcom03-felix/Config.in
Due: mcom03-linux510-buildroot-build, mcom03-linux510-priv-buildroot-build

linux66.fragment: Enable GPU
  fragments/linux66.fragment
Due: mcom03-linux510-buildroot-build

Path conditions:
  mcom03-linux510-buildroot-build: unless all of: .pre-commit-config.yaml$, fragments/cv.fragment$, fragments/hpc.fragment, fragments/nn-dev.fragment, fragments/private.fragment$, fragments/tl.fragment$, fragments/weston.fragment$, package/mcom03-tl-.*, README.rst$
  mcom03-linux510-priv-buildroot-build: any of: .*-felix.*, .*-rogue-.*, .*-vpu-.*, configs/mcom03_defconfig$, fragments/private.fragment$
  mcom03-linux510-cv-buildroot-build: any of: fragments/cv.fragment$
  mcom03-weston-buildroot-build: any of: .*-rogue-.*, fragments/private.fragment$, fragments/weston.fragment$
  mcom03-nn-dev-buildroot-build: any of: fragments/nn-dev.fragment
  mcom03-sbl-build: any of: board/elvees/ddrinit-dtb-map.txt$
