Repository elvees/mcom03-buildroot-external: changes, and which Zuul jobs are due for each by the changed paths.
All: mcom03-linux510-priv-buildroot-build, mcom03-weston-buildroot-build, mcom03-nn-dev-buildroot-build

.zuul.yaml:

---
- project:
    check:
      jobs:
        - mcom03-linux510-buildroot-build
        - mcom03-linux510-priv-buildroot-build:
            files:
              - .*-felix.*
              - .*-rogue-.*
              - .*-vpu-.*
              - configs/mcom03_defconfig
              - fragments/cv.fragment
              - fragments/private.fragment
        - mcom03-weston-buildroot-build:
            files:
              - .*-rogue-.*
              - fragments/private.fragment
              - fragments/weston.fragment
        - mcom03-nn-dev-buildroot-build:
            files:
              - fragments/nn-dev.fragment
        - pre-commit

    # Feel free to edit jobs below
    experimental:
      jobs:
        - mcom03-linux510-buildroot-build

mcom03: ddrinit-dtb-map: Add support for ELV-MC03-CE r2.5.0
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

ddrinit-dtb-map: Support ELV-MC03-SMARC r1.1 @ ELV-SMARC-CB r3.1
  board/elvees/ddrinit-dtb-map.txt
Due: none

overlay: elvees: Remove memory reservation for kernel allocations
  overlay/elvees/etc/sysctl.d/vm-min-free-kbytes.conf
Due: none

ddrinit-dtb-map: Add support for MONO-BOARD r1.1.1
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

fragments: private: Build elcorenn from source code
  fragments/nn-dev.fragment
  fragments/private.fragment
Due: mcom03-linux510-priv-buildroot-build, mcom03-weston-buildroot-build, mcom03-nn-dev-buildroot-build

mcom03: cv.fragment: Enable png for opencv4
  fragments/cv.fragment
Due: mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Enable jpegformat GStreamer plugin
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Enable multifile GStreamer plugin
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

package/mcom03-felix: Rename test utilities
  package/mcom03-felix/mcom03-felix.mk
Due: mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Update ddrinit defconfigs with board revisions
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

package/mcom03-rogue-modules: Remove tarball creation
  package/mcom03-rogue-modules/mcom03-rogue-modules.mk
Due: mcom03-linux510-priv-buildroot-build, mcom03-weston-buildroot-build

ci: Run mcom03-sbl-build if ddrinit-dtb-map.txt changes
  .zuul.yaml
Due: none

cv.fragment: Enable rawparse plugin
  fragments/cv.fragment
Due: mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Disable systemd-networkd service
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

package/mcom03-vpu-libs: Don't call Python interpreter for SCONS
  package/mcom03-vpu-libs/mcom03-vpu-libs.mk
Due: mcom03-linux510-priv-buildroot-build

fragments: private: Disable MCOM03_ROGUE_LIBS package
  fragments/private.fragment
Due: mcom03-linux510-priv-buildroot-build, mcom03-weston-buildroot-build

mcom03_defconfig: Enable SSP for TF-A
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Discard legacy configs for Buildroot 2023.05
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

package/mcom03-vpu-libs: Enable OpenMAX in ffmpeg
  package/mcom03-vpu-libs/mcom03-vpu-libs.mk
Due: mcom03-linux510-priv-buildroot-build

package/mcom03-rogue-libs: Update to Python 3.x
  package/mcom03-rogue-libs/Config.in
  package/mcom03-rogue-libs/mcom03-rogue-libs.mk
Due: mcom03-linux510-priv-buildroot-build, mcom03-weston-buildroot-build

ci: Add irrelevant-files for mcom03-linux510-buildroot-build
  .zuul.yaml
Due: none

package: Use TARBALL_NAME macro
  package/gst-felix/gst-felix.mk
  package/mcom03-felix/mcom03-felix.mk
  package/mcom03-sbl-tl/mcom03-sbl-tl.mk
  package/mcom03-tl-core/mcom03-tl-core.mk
  package/mcom03-vpu-libs/mcom03-vpu-libs.mk
Due: mcom03-linux510-priv-buildroot-build

package/mcom03-tl-sbimg: Make recovery SBIMG
  package/mcom03-tl-sbimg/Config.in
  package/mcom03-tl-sbimg/mcom03-tl-sbimg.mk
Due: none

mcom03_defconfig: Enable some collectd plugins
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

mcom03: Update BusyBox config
  board/elvees/busybox.config
Due: none

cv.fragment: Enable install contrib scripts
  fragments/cv.fragment
Due: mcom03-linux510-priv-buildroot-build

mcom03: ddrinit-dtb-map: Add support for ELV-SMARC-CB r3.2.1
  board/elvees/ddrinit-dtb-map.txt
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

nn-dev.fragment: Enable packages for automated testing
  fragments/nn-dev.fragment
Due: mcom03-nn-dev-buildroot-build

package/mcom03-rogue-libs: Create tar with staging files
  configs/mcom03_defconfig
  fragments/private.fragment
  package/mcom03-rogue-libs/Config.in
  package/mcom03-rogue-libs/mcom03-rogue-libs.mk
Due: mcom03-linux510-priv-buildroot-build, mcom03-weston-buildroot-build

mcom03_defconfig: Add mixbench-opencl package
  configs/mcom03_defconfig
  fragments/private.fragment
Due: mcom03-linux510-priv-buildroot-build, mcom03-weston-buildroot-build

mcom03_defconfig: Enable weston and glmark2 packages
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

ddrinit-dtb-map: Support ELV-MC03-SMARC r1.1 @ ELV-SMARC-CB r3.2
  board/elvees/ddrinit-dtb-map.txt
Due: none

package/mcom03-rogue-libs: Add MCOM03_ROGUE_LIBS_GIT_DIR macro
  package/mcom03-rogue-libs/mcom03-rogue-libs.mk
Due: mcom03-linux510-priv-buildroot-build, mcom03-weston-buildroot-build

package/mcom03-felix: Restore MCOM03_FELIX_BIN_VERSION macro
  package/mcom03-felix/mcom03-felix.mk
Due: mcom03-linux510-priv-buildroot-build

nn-dev.fragment: Enable elcore-epp package
  fragments/nn-dev.fragment
Due: mcom03-nn-dev-buildroot-build

package/mcom03-sbl: Pass path to ddrinit map instead of text
  package/mcom03-sbl/mcom03-sbl.mk
Due: none

mcom03_defconfig: Enable rsync package
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

mcom03_defconfig: Enable OpenGL support for GStreamer
  configs/mcom03_defconfig
Due: mcom03-linux510-priv-buildroot-build

package/mcom03-vpu-libs: Add '-f' flag to the 'ln' command
  package/mcom03-vpu-libs/mcom03-vpu-libs.mk
Due: mcom03-linux510-priv-buildroot-build

fragments: Remove weston.fragment
  .zuul.yaml
  README.rst
  fragments/weston.fragment
Due: mcom03-weston-buildroot-build
